.chat-area, .text-input-area {
    background: #fff;
    margin:4px;
    border-top: 1px solid #7f787f;
    border-left: 1px solid #7f787f;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;

    .chat,.text {
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        border-bottom: 1px solid #dfd8df;
        border-right: 1px solid #dfd8df;
    }

    .chat {
        overflow-y: scroll;
        height: 150px;
        padding: 6px;

        p {
            display: flex;
            span.user {
                display: flex;
                img {
                    width: 1rem;
                    height: 1rem;
                    margin-right: 0.3rem;
                }
    
                strong {
                    margin-right: 0.3rem;
                }
            }

            span.message {
                word-wrap: anywhere;
                flex-grow: 1;
                flex-shrink: 1;
            }
        }
    }

    .text {
        height: 100px;
    }

    textarea {
        margin:0;
        border-radius: 0;
        border: none;
        width: 100%;
        height: 100px;
        resize: none;
        padding: 6px;
    }
}

.text-input-area {
    margin-top: 18px;
}

.button-area {
    border: 1px solid #808080;
    margin: 6px;
    width: calc(100%-12px);
    height: 65px;
    background: #c0c0c0;
    
    .inside {
        height: 100%;
        border-left: 1px solid #fff;
        border-top: 1px solid #fff;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        background: #c0c0c0;

    }
    button {
        span {
            display: flex;
            align-items: center;
            padding:0 2rem;
        }

        &.send-button {
            background: #c0c0c0;
            width: 4rem;
            text-align: center;
            border: none;
            background: url('../../../assets/images/window/chat/send_button_active.png') no-repeat center center;
            
            &:disabled {
                background: url('../../../assets/images/window/chat/send_button.png') no-repeat center center;
            }

            &:active:not(:disabled) {
                background: url('../../../assets/images/window/chat/send_button_push.png') no-repeat center center;
            }

            span {
                border: none;
                padding: 0;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3rem;
                height: 3rem;

                

                span {
                    display: none;
                }
            }
        }
    }
}